<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BarrierIdle/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{30,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,259}}</string>
                <key>sourceSize</key>
                <string>{30,259}</string>
            </dict>
            <key>BarrierIdle/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,262},{30,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,259}}</string>
                <key>sourceSize</key>
                <string>{30,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Barrier.png</string>
            <key>size</key>
            <string>{32,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f3700e3ec93bca39ecaf596d4f3e356:bd1ed62f4cc9e632fb53326d842f51d9:0e0a998d1df23b73fb901de1066ae072$</string>
            <key>textureFileName</key>
            <string>Barrier.png</string>
        </dict>
    </dict>
</plist>
