<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Door_Terminal_Hacked/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{166,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,157}}</string>
                <key>sourceSize</key>
                <string>{166,157}</string>
            </dict>
            <key>Door_Terminal_Hacking/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{166,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,157}}</string>
                <key>sourceSize</key>
                <string>{166,157}</string>
            </dict>
            <key>Door_Terminal_Idle/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{166,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,157}}</string>
                <key>sourceSize</key>
                <string>{166,157}</string>
            </dict>
            <key>Enemy_Terminal_Hacked/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>Enemy_Terminal_Hacking/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,91},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>Enemy_Terminal_Hacking/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,91},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>Enemy_Terminal_Idle/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,181},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>Platform_Terminal_Hacked/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,319},{51,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,88}</string>
            </dict>
            <key>Platform_Terminal_Hacking/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,372},{51,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,88}</string>
            </dict>
            <key>Platform_Terminal_Hacking/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,372},{51,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,88}</string>
            </dict>
            <key>Platform_Terminal_Idle/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,425},{51,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Terminals.png</string>
            <key>size</key>
            <string>{256,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09db3e6d0d8f3bee737c65109aa1b7f3:2a3c788ed862c4172219569e8c2e81b7:276f4cdce4d144b538466d5277b7660e$</string>
            <key>textureFileName</key>
            <string>Terminals.png</string>
        </dict>
    </dict>
</plist>
