<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Level_1/Shadow_tutorial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1466,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1466,474}}</string>
                <key>sourceSize</key>
                <string>{1466,474}</string>
            </dict>
            <key>Level_2/Shadow_tutorial_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{1466,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1466,474}}</string>
                <key>sourceSize</key>
                <string>{1466,474}</string>
            </dict>
            <key>Level_3/Shadow_tutorial_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{1466,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1466,474}}</string>
                <key>sourceSize</key>
                <string>{1466,474}</string>
            </dict>
            <key>Level_4/Shadow_tutorial_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1429},{1466,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1466,474}}</string>
                <key>sourceSize</key>
                <string>{1466,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shadow_Tutorial.png</string>
            <key>size</key>
            <string>{1468,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd1f1c75ccd9f537e738ab82e7d0432c:d4adba5e4ea9ba8ba083d0863e5f03ef:4f17dee8da293dcf7f08b98c642f064d$</string>
            <key>textureFileName</key>
            <string>Shadow_Tutorial.png</string>
        </dict>
    </dict>
</plist>
