<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire/Shadow_Shoot_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,0},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,74},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,74},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,74},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,74},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,148},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,148},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Fire/Shadow_Shoot_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>Hover/Shadow_Hover_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,148},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,148},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,238},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,238},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,312},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,312},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,328},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,312},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,312},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,238},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,238},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,148},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,148},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,328},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,402},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,402},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,508},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,402},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,402},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,328},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hover/Shadow_Hover_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,148},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shadow.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c024d080ce2dfa0cb1786cf15a20394a:c5c0ec999ffc61640cf05be81f774524:4df3c78198ce0a598f65330467a2f71d$</string>
            <key>textureFileName</key>
            <string>Shadow.png</string>
        </dict>
    </dict>
</plist>
