<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExitNode/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>JumpNode/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ReleaseNode/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>TurnNode/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Nodes.png</string>
            <key>size</key>
            <string>{132,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c409a387c215dc0dca5b18e01576abce:2a915f932e51df431612b9cb977736e0:ea4466696600fa1e3244e6b9791f34e7$</string>
            <key>textureFileName</key>
            <string>Nodes.png</string>
        </dict>
    </dict>
</plist>
